@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav-container.active {
    @apply fixed z-[50] bg-white bg-opacity-95;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hero-container-1 {
    background-image: url("../../public/assets/img/jpg/masjid-nurul-asfar-1.jpg");
    animation: breath 20s infinite alternate;
}

.hero-container-2 {
    background-image: url("../../public/assets/img/jpeg/masjid-nurul-asfar-1.jpeg");
    animation: breath 20s infinite alternate;
}

@keyframes breath {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 110% 110%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(#fff, #fff);
    background-size: 0 10px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
}

.link-underline-blue {
    background-image: linear-gradient(transparent, transparent),
        linear-gradient(#bfdbfe, #bfdbfe);
}

.link-effect:hover .link-underline,
.link-underline:hover {
    background-size: 100% 10px;
    background-position: 0 100%;
}

.rdw-editor-wrapper {
    background-color: white;
    border-radius: 0.5rem;
    border: solid rgb(236, 236, 236) 1px;
}
.rdw-editor-toolbar {
    background-color: transparent;
    border: none;
    border-bottom: solid rgb(236, 236, 236) 1px;
}

.text-editor {
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 0.85rem;
}

.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
}
.editor-class {
    background-color: transparent;
    padding: 1rem;
    border: 1px solid #ccc;
}
.toolbar-class {
    border: 1px solid #ccc;
}

.react-calendar {
    @apply w-[300px] max-w-full bg-white leading-tight md:w-[350px];
}
.react-calendar--doubleView {
    @apply w-[700px];
}
.react-calendar--doubleView .react-calendar__viewContainer {
    @apply m-[-0.5em] flex items-center justify-center;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
    @apply m-[0.5em] w-1/2;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    @apply m-0 border-none outline-0;
}
.react-calendar button:enabled:hover {
    @apply cursor-pointer;
}
.react-calendar__navigation {
    @apply mb-[1em] flex h-11 border-b border-dark;
}
.react-calendar__navigation button {
    @apply min-w-[44px] bg-none;
}
.react-calendar__navigation button:disabled {
    @apply bg-[#f0f0f0];
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    @apply rounded-lg bg-[#e6e6e6];
}

.react-calendar__month-view__weekdays {
    @apply text-center text-xs font-bold uppercase;
}
.react-calendar__month-view__weekdays__weekday {
    @apply p-[0.5em] text-tertiary-2;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    @apply flex items-center justify-center text-xs font-bold;
}
.react-calendar__month-view__days__day--weekend {
    @apply text-[#d10000];
}
.react-calendar__month-view__days__day--neighboringMonth {
    @apply text-neutral-40;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    @apply py-[2em] px-[0.5em];
}
.react-calendar__tile {
    @apply max-w-full bg-none py-[10px] px-[6.6667px] text-center font-semibold leading-4;
}
.react-calendar__tile:disabled {
    @apply bg-[#f0f0f0];
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    @apply rounded-lg bg-[#e6e6e6];
}
.react-calendar__tile--now {
    @apply rounded-lg bg-primary-violet text-white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    @apply rounded-lg bg-primary-violet text-white;
}
.react-calendar__tile--hasActive {
    @apply bg-[#76baff];
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    @apply bg-[#a9d4ff];
}
.react-calendar__tile--active {
    @apply bg-[#006edc] text-white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    @apply bg-[#1087ff];
}
.react-calendar--selectRange .react-calendar__tile--hover {
    @apply bg-[#e6e6e6];
}
